* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 940px;
}

a {
    text-decoration: none;
}

li,
ul,
.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

.burger {
    cursor: pointer;
}

.header {}

.navbar {
    background: #323232;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.13);
    border-radius: 0px;
    min-height: 60px;
}

.container {}

.navbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 451px;
    height: 100%;
}

.listTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 122px;
    height: 100%;
}

.item:hover .navigate {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C7AA8B;
}

.item {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.item_logo {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.itemburger {
    display: none;
}

.logo {}

.title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 83% */
    text-transform: uppercase;
    color: #EDEDED;
}

.palka {
    background: #4D4D4D;
    height: 60px;
    width: 1px;
}

.navigate {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EDEDED;
    height: 100%;
    width: 100%;
}

.contact_logo {}

.conact_logo {}

.mainOne {
    min-height: 497px;
    background-image: url(../assets/images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main {}

.container {}

.mainOne_bigBox {
    padding-top: 67px;
    padding-bottom: 15px;
}

.mainOne_title_box {
    text-align: center;
}

.mainOne_title_box_text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 66px;
    /* identical to box height, or 85% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.mainOne_title_box_info {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
    margin-bottom: 49px;
}

.palkaTwo {
    background: #FFFFFF;
    width: 60px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.mainOne_title_box_link_text:hover {
    opacity: 1;
    color: white;
}

.mainOne_title_box_link_text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 17px;
    border: 2px solid #FFFFFF;
    opacity: 0.7;
}

.mainOne_title_box_link {
    margin-bottom: 86px;
}

.kubiki {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 39px;
    margin: 0 auto;
}

.kubik {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0px;
    width: 9px;
    height: 9px;
    transition: 0.2s linear;
}

.kubik:hover {
    background: #FFFFFF;
    cursor: pointer;
    transform: scale(1.2);
}

.mainTwo {
    background: #C7AA8B;
    padding-top: 58px;
    padding-bottom: 83px;
}

.container {}

.mainTwo_box_PC {}

.row {}

.col-4 {}

.mainTwo_content_box {
    border-top: 1px solid rgba(50, 50, 50, 0.13);
}

.mainTwo_content_box_title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    text-align: center;
    text-transform: uppercase;
    color: #4D4D4D;
    margin-bottom: 25px;
    padding: 22px;
}

.mainTwo_content_box_img {}

.mainTwo_content_box_info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #4D4D4D;
    max-width: 287px;
    margin: 0 auto;
}

.img_box_mainTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.numberOfcontent {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-transform: uppercase;
    color: rgba(50, 50, 50, 0.09);
}

.mainTwo_box_mobil {
    display: none;
}

.mainThree {
    background-image: url(../assets/images/background\ 2.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainThree_text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 55px;
    /* or 117% */
    color: #C7AA8B;
    margin-bottom: 23px;
}

.palka3 {
    width: 60px;
    height: 2px;
    background-color: #C7AA8B;
}

.mainThree_box {
    margin: 0 auto;
}

.mainFour {
    padding-top: 76px;
    padding-bottom: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainFour_box_PC {}

.mainFour_title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    /* identical to box height, or 90% */
    text-transform: uppercase;
    color: #4D4D4D;
}

.mainFour_content_box {}

.mainFour_content_img {
    margin-bottom: 10px;
}

.mainFour_content_name {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #4D4D4D;
}

.mainFour_content_job {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    color: #4D4D4D;
    margin-bottom: 11px;
}

.mainFour_content_box_contact_box {
    display: flex;
    align-items: center;
}

.mainFour_content_box_contact_img {
    margin-right: 10px;
}

.mainFour_title_mobile {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    /* identical to box height, or 90% */
    text-transform: uppercase;
    color: #4D4D4D;
    margin-bottom: 30px;
    text-align: center;
}

.mainFour_content_box_mobile {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFour_box_Mobile {
    display: none;
}

.mainFive {
    background: #F7F7F7;
    padding-top: 79px;
    padding-bottom: 104px;
}

.mainFive_box_PC {}

.mainFive_title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    text-align: center;
    text-transform: uppercase;
    color: rgba(50, 50, 50, 0.36);
    margin-bottom: 14px;
}

.poloska4 {
    width: 60px;
    height: 2px;
    background-color: rgba(50, 50, 50, 0.18);
    margin: 0 auto;
    margin-bottom: 46px;
}

.mainFive_info {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 5px;
}

.mainFive_info_yellow {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
}

.mainFive_info_Two {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 21px;
}

.mainFive_info_yellow_mobil {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
    margin-bottom: 40px;
}

.mainFive_box_mobil {
    display: none;
}

.footer {
    background-color: #323232;
}

.container {}

.footer_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_item {
    display: flex;
    align-items: center;
    min-height: 150px;
}

.footer_logo {
    margin-right: 8px;
}

.footer_title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #858585;
}

.footer_link:hover {
    color: #C7AA8B;
    opacity: 1;
}

.footer_link {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
    padding: 9px 84px;
    border: 2px solid #C7AA8B;
    opacity: 0.5;
}

.footer_info {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    text-align: right;
    color: #858585;
}